---
import Logo from "../Logo.astro";
import "../../css/footer.css";
---

<link
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
  rel="stylesheet"
/>
<footer class="footer-container">
  <div class="footer-info-container">
    <div class="footer-info-item-logo">
      <Logo />

      <p>
        Grupo OMYLI es una firma especializada en bienes raíces con enfoque
        humano y estratégico. Conectamos a las personas con espacios que
        inspiran y transforman sus vidas. Ofrecemos propiedades seleccionadas
        cuidadosamente y asesoría personalizada en cada paso.
      </p>
    </div>
    <div class="footer-info-items-container">
      <div class="footer-info-item">
        <h4>Empresa</h4>
        <ul>
          <li><a href="#">¿Quiénes somos?</a></li>
          <li><a href="#">Nuestro equipo</a></li>
          <li><a href="#">Valores</a></li>
        </ul>
      </div>
      <div class="footer-info-item">
        <h4>Servicios</h4>
        <ul>
          <li><a href="#">Venta de inmuebles</a></li>
          <li><a href="#">Compra de inmuebles</a></li>
          <li><a href="#">Inversiones</a></li>
        </ul>
      </div>
      <div class="footer-info-item">
        <h4>Ayuda</h4>
        <ul>
          <li><a href="#">¿Quiénes somos?</a></li>
          <li><a href="#">Nuestro equipo</a></li>
          <li><a href="#">Valores</a></li>
          <li><a href="#">Nuestro equipo</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-botom-container">
    <div>
      <span>&copy; 2025 GRUPO OMYLI</span>
    </div>
    <div class="social-icons">
      <a href="#" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
      <a href="#" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
      <a href="#" aria-label="Pinterest"><i class="fab fa-pinterest-p"></i></a>
      <a href="#" aria-label="TikTok"><i class="fab fa-tiktok"></i></a>
      <a href="#" aria-label="X"><i class="fab fa-x-twitter"></i></a>
      <a href="#" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
    </div>
  </div>
</footer>
