---
import Logo from "../Logo.astro"
import "../../css/header.css"
---
<header class="header-container">
    <!-- LOGO -->
    <Logo/>
    <!-- NAV BAR -->
    <nav>
        <ul>
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Servicios</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Contacto</a></li>
        </ul>
      </nav>
</header>