---
import Logo from "../Logo.astro";
import "../../css/header.css";
---

<header class="header-container">
  <!-- LOGO -->
  <Logo />
  <!-- NAV BAR -->
  <nav class="desktop-navbar">
    <ul>
      <li><a href="/">Inicio</a></li>
      <li><a href="/services">Servicios</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/contactInfo">Contacto</a></li>
    </ul>
  </nav>

  <!-- DROP MENU BUTTON -->
  <button id="menuButton" class="menu-button-container">
    <i class="fa-solid fa-bars"></i>
  </button>

  <!-- MENU BUTTON -->
  <div id="backdrop" class="backdrop"></div>
  <nav id="mobileMenu" class="mobile-navbar">
    <ul>
      <li><a href="/">Inicio</a></li>
      <li><a href="/services">Servicios</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/contactInfo">Contacto</a></li>
    </ul>
  </nav>
</header>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    let isOpen = false;
    const toggleMenu = () => {
      console.log("click");
      isOpen = !isOpen;
      document.querySelector("#mobileMenu")?.classList.toggle("open", isOpen);
      document.querySelector("#backdrop")?.classList.toggle("show", isOpen);
    };

    document
      .getElementById("menuButton")
      ?.addEventListener("click", toggleMenu);
    document.querySelector("#backdrop")?.addEventListener("click", toggleMenu);
  });
</script>
