---
// COMPONENTS
import Layout from "../layouts/Layout.astro";
import PropertyCard from "../components/PropertyCard.astro";
import PromoBaner from "../components/PromoBaner.astro";
// API
import {
  listAllProperties,
  listPropertiesToMainBanner,
} from "../api/propertiesApi";
//CSS
import "../css/home.css";

const response = await listAllProperties();
const bannerResponse = await listPropertiesToMainBanner();

const properties = response.status === 200 ? response.data : [];
const mainBannerProperties =
  bannerResponse.status === 200 ? bannerResponse.data : [];
---

<link
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
  rel="stylesheet"
/>

<Layout>
  <div class="home-container">
    <PromoBaner />
    <!-- MAIN PROPERTIES -->
    <section class="section-container">
      <h3>Recomendado para ti</h3>
      <div class="promotions-items-container">
        <div class="main-item-container">
          <PropertyCard
            width="100%"
            height="100%"
            property={mainBannerProperties?.[0]}
          />
        </div>
        <div class="secondary-item-container">
          <PropertyCard
            width="100%"
            height="100%"
            marginBottom="25px"
            property={mainBannerProperties?.[1]}
          />
          <PropertyCard
            width="100%"
            height="100%"
            property={mainBannerProperties?.[2]}
          />
        </div>
      </div>
    </section>

    <!-- PROPERTIES GRID SECTION-->
    <section class="section-properties-grid-container">
      <!-- SEARCH SECTION -->
      <div class="search-properties-container">
        <h3>Encuentra tu siguiente inversión</h3>
        <div class="search-properties-input-container">
          <input
            type="text"
            class="search-input"
            placeholder="Inmuebles en Guadalajra..."
          />
          <span class="search-icon">
            <i class="fa-solid fa-magnifying-glass"></i>
          </span>
        </div>
      </div>
      <!-- GRID -->
      <div class="properties-grid-container">
        {
          properties?.map((property: any) => (
            <PropertyCard
              property={property}
              flexGrow={1}
              flexShrink={1}
              flexBasis="410px"
              height="480px"
            />
          ))
        }
      </div>

      <button class="section-properties-grid-container-see-more-button">
        Ver todos los inmuebles
      </button>
    </section>
  </div>
</Layout>
