---
import "../css/dropdown.css";
---

<div class="dropdown-container">
  <select id="lada" name="service">
    <option value="+52">
      <img src="https://flagcdn.com/w40/mx.png" alt="México" /> México +52
    </option>
    <option value="+52">
      <img src="https://flagcdn.com/w40/mx.png" alt="México" /> México +52
    </option>
    <option value="+52">
      <img src="https://flagcdn.com/w40/mx.png" alt="México" /> México +52
    </option>
    <option value="+52">
      <img src="https://flagcdn.com/w40/mx.png" alt="México" /> México +52
    </option>
  </select>
</div>
