---
import logo from "../assets/omyli_logo.png";
import "../css/logo.css";

const { hover = true } = Astro.props;
---

<a href="/" class=`logo-container ${ hover ? "logo-container-with-hover" : ""}`>
  <div class="logo-image-container">
    <img src={logo.src} alt="" />
  </div>
  <span>Grupo Omyli</span>
</a>
