---
import logo from "../assets/omyli_logo.avif";
import "../css/logo.css";

const { hover = true, width = "170px" } = Astro.props;
---

<a
  href="/"
  class=`logo-container ${ hover ? "logo-container-with-hover" : ""}`
  style=`width: ${width}`
>
  <div class="logo-image-container">
    <img src={logo.src} alt="" />
  </div>
  <span>Grupo Omyli</span>
</a>
