---
import "../css/promobanner.css";
---

<div class="promo-banner" id="promoBanner">
  <span
    >🎉 ¡Aprovecha nuestras promociones especiales por apertura! <a href="#"
      >Ver detalles</a
    ></span
  >
  <button
    class="close"
    onclick="document.getElementById('promoBanner').style.display='none'"
    >&times;</button
  >
</div>
