.carousel-main-container {
  position: relative;
  /* background-color: aquamarine; */
  max-width: 1200px;
  /* max-width: 1000px; */
}

/* SPLIDE */
#main-slider {
  width: 100%;
  margin-bottom: 10px;
}
#main-slider .splide__track {
  width: 100%;
  background-color: #f4f4f4;
  border-radius: 6px;
}

#thumbnail-slider {
  width: 100%;
  /* background-color: red; */
}
#thumbnail-slider .splide__slide {
  border: none;
  border-radius: 4px;
}
#thumbnail-slider .splide__slide img {
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

#thumbnail-slider .splide__slide.is-active img {
  opacity: 1;
  border: 0;
}

#thumbnail-slider .splide__slide.is-active {
  opacity: 0.4;
}
