---
import "./carousel.css";
const { images } = Astro.props;
---

<!-- GALLERY -->
<div class="carousel-main-container">
  <!-- MAIN SLIDER -->
  <div class="splide" id="main-slider">
    <div class="splide__track">
      <ul id="ma" class="splide__list">
        {
          images.map((imageItem: string) => (
            <li class="splide__slide">
              <img
                data-src={imageItem}
                src={imageItem}
                alt="Imagen secundaria 1"
              />
            </li>
          ))
        }
      </ul>
    </div>
  </div>
  <!-- THUMNAIL -->
  <div class="splide" id="thumbnail-slider">
    <div class="splide__track">
      <ul class="splide__list">
        {
          images.map((imageItem: string) => (
            <li class="splide__slide">
              <img src={imageItem} />
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</div>
<script
  src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"
></script>
<!-- <script type="module" src="/scripts/splide-init.js"></script> -->

<script type="module">
  window.addEventListener("DOMContentLoaded", () => {
    const main = new Splide("#main-slider", {
      type: "fade",
      heightRatio: 0.5,
      pagination: false,
      arrows: true,
      cover: false,
      breakpoints: {
        639: {
          heightRatio: 0.5,
        },
      },
    });

    const thumbnails = new Splide("#thumbnail-slider", {
      fixedWidth: 100,
      height: 100,
      isNavigation: true,
      gap: 10,
      focus: "number",
      pagination: false,
      cover: true,
      arrows: false,
      breakpoints: {
        639: {
          fixedWidth: 90,
          height: 70,
        },
      },
    }).mount();

    main.sync(thumbnails).mount();
  });
</script>
