.blog-main-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1.5rem 3rem;
  margin-top: 85px;
  min-height: 60vh;
  max-width: 1300px;
}

.blog-header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;

  border-color: #374151;
  margin: 45px 0 50px 0;
}
.blog-main-container h1 {
  font-size: 3rem;
  color: #1e212b;
  margin-bottom: 15px;
  text-shadow: 1px 1px 0px #1e212b;
  text-align: center;
}
.blog-main-container h2 {
  font-size: 1.7rem;
  color: #374151;
  text-shadow: 1px 1px 0px #374151;
  text-align: center;
}
.blog-content-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

@media only screen and (max-width: 480px) {
  .blog-main-container {
    padding: 1.5rem 1rem;
    margin-top: 70px;
  }
}
