.properties-search-main-container {
  margin-top: 8rem;
  min-height: 100vh;
}

/* HEADER SECTION */
.search-header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 1rem;
  /* background-color: rgb(201, 76, 201); */
  margin-bottom: 3rem;
}
.search-header-container h1 {
  color: #323748;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 15px;
}

.search-header-container button {
  color: #fff;
  height: 50px;
  width: 50px;
  border: none;
  background-color: #323748;
  border-radius: 0.5rem;
  border-width: 1px;
  cursor: pointer;
  box-shadow: 2px 2px 4px 0px rgba(30, 33, 43, 0.2);
}

.search-header-container button .search-icon i {
  color: #fff;
  transition:
    opacity 1s ease,
    transform 0.3s ease;
}
.search-header-container button:hover .search-icon i {
  transform: scale(1.2);
}

.search-header_inputs-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.5rem;
  max-width: 1200px;
}

.search-header_inputs-container .search-input {
  width: 100%;
  max-width: 800px;
  padding: 0.75rem 1rem 0.75rem 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  border-width: 1px;
  color: #1e212b;
  box-shadow: 2px 2px 4px 0px rgba(30, 33, 43, 0.2);
  margin-right: 10px;
  height: 50px;
}

.search-header_inputs-container .search-input::placeholder {
  color: #babbc1;
}

/* GRID SECTION */
.properties-grid-container {
  padding: 0.5rem 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  background-color: transparent;
  margin-bottom: 35px;
}

.properties-grid-container .properties-grid-container_loader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 40vh;
  gap: 15px;
  color: #bfa641;
}

.properties-grid-container .properties-pagination-container {
  /* background-color: blue; */
  width: 100%;
}

.properties-grid-container .properties-grid-internal-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 75px;
  /* background-color: red; */
  width: 100%;
}

.properties-grid-container .properties-grid-page-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  /* background-color: aqua; */
}

.properties-grid-container .properties-grid-page-container .page-button {
  color: #323748;
  height: 50px;
  width: 50px;
  border: solid;
  background-color: #fff;
  border-color: #fff;
  border-radius: 0.5rem;
  border-width: 1px;
  cursor: pointer;
  box-shadow: 2px 2px 4px 0px rgba(13, 15, 22, 0.2);
  transition:
    opacity 1s ease,
    transform 0.3s ease;
}

.properties-grid-container .properties-grid-page-container .page-button:hover {
  transform: scale(1.05);
}

.properties-grid-container .properties-grid-page-container .selected-page {
  background-color: #1e212b;
  color: #fff;
  border-color: #1e212b;
}

.properties-pagination-empty-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 50px;
  /* background-color: antiquewhite; */
}

.properties-pagination-empty-container img {
  width: 235px;
  margin-bottom: 25px;
}

.properties-pagination-empty-container h4 {
  color: #1e212b;
  font-size: 1.3rem;
  margin-bottom: 9px;
}

.properties-pagination-empty-container p {
  color: #62646f;
  font-size: 1rem;
  margin-bottom: 9px;
  max-width: 450px;
  text-align: center;
}
