.card-container {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 3px 3px 20px 0px rgba(30, 33, 43, 0.2);
  cursor: pointer;
  z-index: 0;
}

.card-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 1s ease, transform 0.3s ease;
  z-index: -1;
}

.card-container:hover img {
  transform: scale(1.02);
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  align-items: center;
  width: 100%;
  height: auto;
  /* background: linear-gradient(to bottom, transparent, #1e212b); */
  /* background: linear-gradient(to bottom, #00000058, #1e212b); */
  /* background: linear-gradient(to bottom, #0000002e 0.5%, #1e212b 100%); */
  background: #1e212bde;
  z-index: -1;
}

.status-tag-container {
  position: absolute;
  top: 25px;
  right: 0px;
  background-color: #1e212be4;
  padding: 0.5rem 0.5rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.body-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 23px;
  left: 9px;
  padding: 5px;
  border-radius: 5px;
  background-color: #2e7d58;
  transition: opacity 1s ease, transform 0.3s ease;
  /* background-color: aquamarine; */
}

.body-card-container .card-property-price {
  color: #fefefe;
  /* margin-left: 10px; */
  font-size: 1.1rem;
  text-align: center;
  font-weight: bolder;
  transition: opacity 1s ease, transform 0.3s ease;
  text-shadow: 1px 1px 0px #000000;
}

.footer-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  width: 100%;
  height: 30%;
  /* background-color: aqua; */
}

.footer-card-container .footer-card-text {
  color: #fff;
  font-size: 0.95rem;
  margin-bottom: 12px;
  transition: opacity 1s ease, transform 0.3s ease;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.9);
}

.status-tag-container .status-tag-text {
  color: #fff;
  text-shadow: none;
  font-size: 1.2rem;
  text-transform: capitalize;
}

.footer-card-container-address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 35%;
  /* background-color: bisque; */
  flex: 15 1 250px;
}

.footer-card-container-genera-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* background-color: aqua; */
  width: 100%;
  flex: 1 1 250px;
}

.footer-card-container-address ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-card-container-address ul li {
  color: #fff;
  font-size: 0.8rem;
  margin-right: 15px;
}

.footer-card-container-address ul li i {
  color: #fff;
  margin-right: 5px;
}

.card-container:hover .body-card-container {
  transform: scale(0.95);
}
