.header-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  z-index: 2;
}

.desktop-navbar ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}
.desktop-navbar ul li a {
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: 500;
  color: #374151;
  position: relative;
  padding: 0.25rem 0;
  transition: color 0.3s ease;
}
.desktop-navbar ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background-color: #d4af37;
  transition: width 0.3s ease;
}
.desktop-navbar ul li a:hover {
  color: #d4af37;
}
.desktop-navbar ul li a:hover::after {
  width: 100%;
}

/* MENU BUTTON */
.menu-button-container {
  display: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  right: 0;
  margin: 15px;
  width: 45px;
  height: 45px;
  border-radius: 5px;
  font-size: 1.5rem;
  border-width: 0;
  background-color: #fff;
  z-index: 4;
}

.menu-button-container i {
  border: none;
  color: #374151;
  z-index: 1;
}

.menu-button-container:hover {
  color: #d4af37;
}

/* MOBILE MENU */
.mobile-navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform: translateY(-100%);
  opacity: 0;
  position: fixed;
  top: 66px;
  left: 0;
  width: 100%;
  height: auto;
  background: white;
  z-index: 2;
}

.mobile-navbar.open {
  transform: translateY(0);
  opacity: 1;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: transparent;
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.backdrop.show {
  opacity: 1;
  pointer-events: auto;
}

.mobile-navbar ul {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.mobile-navbar ul li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: #ffffff;
}
.mobile-navbar ul li a {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1rem;
  text-decoration: none;
  font-weight: 500;
  color: #374151;
  position: relative;
  padding: 0.25rem 0;
  transition: color 0.3s ease box-shadow 0.3s ease;
  width: 100%;
  height: 3rem;
}

.mobile-navbar ul li a:hover {
  box-shadow: -1px 3px 3px 0px rgba(0, 0, 0, 0.05);
  color: #d4af37;
}

/* Dispositivos muy pequeños (teléfonos en orientación vertical) */
@media only screen and (max-width: 480px) {
  .desktop-navbar {
    display: none;
  }
  .header-container {
    justify-content: center;
  }
  .menu-button-container {
    display: flex;
  }
}

/* Teléfonos en orientación horizontal (pantallas pequeñas y medianas) */
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .desktop-navbar {
    display: none;
  }
  .header-container {
    justify-content: center;
  }
  .menu-button-container {
    display: flex;
  }
}

/* Tablets en orientación vertical (pantallas medianas) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .mobile-navbar {
    display: none;
  }
}

/* Tablets en orientación horizontal y laptops pequeñas (pantallas grandes) */
@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  .mobile-navbar {
    display: none;
  }
}

/* Desktops grandes y pantallas grandes */
@media only screen and (min-width: 1280px) {
  .mobile-navbar {
    display: none;
  }
}
