.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: transparent;
  text-decoration: none;
  color: inherit;
  padding: 0 15px 0 2px;
  border-radius: 8px;
  transition: all 0.2s ease;
  /* padding-right: 10px; */
}
.logo-container-with-hover:hover {
  background-color: #bfa64134;
}

.logo-container span {
  margin-left: 5px;
  /* font-family: "Inter", sans-serif; */
  font-family: "Big Shoulders", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  color: #bfa641;
  text-transform: uppercase;
}

.logo-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 25px;
}

.logo-image-container img {
  width: 45px;
}
